<link rel="stylesheet" type="text/css" href="/app.css">
<h1>JOIN US</h1>
<p class="lead">Enter your Email to join <strong><%=data%></strong>
other on our waitinglist. We are 100% not a cult.</p>
<form method="POST" action="/register">
  <input type="text" class="form" placeholder="Enter Your Email" name="email">
  <button>Join Now</but  ton>
</form>